body{

background:#eceff1;

font-family:Arial;

}

.card{

margin-top:40px;

padding:25px;

border-radius:15px;

}

.card-header{

background:#1565c0;

color:white;

text-align:center;

font-size:30px;

}

label{

font-weight:bold;

margin-top:10px;

}

button{

margin-top:20px;

width:250px;

height:50px;

font-size:20px;

}

.result-card{

margin-top:150px;

padding:50px;

text-align:center;

}